html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --skin-color: #fcf5ef;
    --lightBlue-color: #b8d8e0;
    --darkBlue-color: #6db5ca;
    --orange-color: #ff7235;
    --cons-color: #f95a37;
    --pros-color: #a7bf2e;
    --shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.App{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .25s;
}
button{
    background: var(--darkBlue-color);
    color: white;
    padding: 6px 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    font-size: .7em;
}
.Navbar{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    background: white;
    padding: 10px;
    box-shadow: var(--shadow);
}

.Navbar a.is-active{
    border: var(--orange-color) solid 2px;
    border-radius: 5px;
    color: var(--orange-color);
}

.Navbar .signed-out,
.Navbar .signed-in{
    display: flex;
    align-items: center;
}
.Navbar li{
    margin: 0 10px;
}

.Navbar .btn-account{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    background: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dashboard{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard .days{
    display: flex;
    align-items: center;
}
.Dashboard .days .day{
    width: 300px;
    height: 300px;
    background: white;
    margin: 0 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
}

.Dashboard .day .skill-indicator{
    width: 100%;
    display: flex;
}
.Dashboard .day .skill-indicator .skill-color{
    width: 50%;
    height: 5px;
    background: orange;
}
.Dashboard .day h2{
    bottom: 5px;
    margin-top: auto;
    text-align: center;
    opacity: .7;
    font-weight: 600;
    color: var(--darkBlue-color);
    font-size: 1.1em;
}
.Dashboard .day-overview{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Dashboard .day-overview li.pro{
    color: var(--pros-color);
    list-style: var(--pros-color) circle inside;
}
.Dashboard .day-overview li.con{
    color: var(--cons-color);
    list-style: var(--cons-color) circle inside;
}

.Dashboard .Today{
    max-width: 900px;
    height: 900px;
    width: 75vw;
    background: white;
    box-shadow: var(--shadow);
}
.Dashboard .Today h2{
    background: var(--darkBlue-color);
    width: 100%;
    padding: 10px 0;
    color: rgba(255,255,255,.7);
    font-weight: 400;
    text-align: center;
}

.Dashboard .Today .skills{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.Dashboard .Today .skills h3{
    font-weight: normal;
    color: var(--darkBlue-color);
}
.Dashboard .Today .skills-container{
    display: flex;
    align-items: center;
}

.Dashboard .Today .skill{
    transition: .5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    opacity: .3;
    cursor: pointer;
}
.Dashboard .Today .skill.doneToday{
    opacity: 1;
}
.Dashboard .Today .skill.active h3::before{
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    z-index: -1;
    background: orange;
}
.Dashboard .Today .skill.doneToday{
    opacity: 1;
}
.Dashboard .Today .skill:hover{
    opacity: 1;
}
.Dashboard .Today .skill h3{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.Today .skill-category{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.Today .skill-category .categories-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.Today .skill-category .categories-container button{
    font-size: .6em;
    border-radius: 10px;
    padding: 5px 8px;
    margin-left: 10px;
}
.Today .skill-category select{
    width: 40%;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: var(--orange-color);
}
.Today .skill-category option{
    text-align: center;
}
.Today .content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.Today .Today-learned,
.Today .SourceList{
    width: 45%;
    margin-top: 20px;
}
.Today h4{
    background: transparent;
    font-size: 1.2em;
    opacity: 1;
    color: var(--darkBlue-color);
    text-align: left;
    font-weight: normal;
}
.Today .buttons{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Today .buttons .extra button.active{
    background: var(--lightBlue-color);
    color: white;
}
.Today .buttons .extra button{
    margin: 0 10px;
    border: solid var(--darkBlue-color) 1px;
    color: var(--darkBlue-color);
    background: transparent;
}
.Today .Today-learned .newly-learned{
    margin: 10px 0;
}
.Today .Today-learned .newly-learned-container{
    margin-top: 20px;
}
.Today .Today-learned h5{
    padding: 8px;
    color: white;
    font-weight: normal;
    border-radius: 5px 5px 0 5px;
}
.Today .Today-learned p{
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    width: 95%;
    margin-left: auto;
}
.Today .Today-learned p:last-of-type{
    border-radius: 0 0 5px 5px;
}